@model VoPhanKhaHy_2122110243.Context.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-content padding-y">

    <!-- ============================ THÀNH PHẦN ĐĂNG KÝ ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Đăng ký</h4></header>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <!-- Họ và Tên -->
                <div class="form-row">
                    <div class="col form-group">
                        <label>Họ</label>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col form-group">
                        <label>Tên</label>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label>Email</label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    <small class="form-text text-muted">Chúng tôi sẽ không bao giờ chia sẻ email của bạn với bất kỳ ai khác.</small>
                </div>

                <!-- Mật Khẩu -->
                <div class="form-row">
                    <label>Tạo mật khẩu</label>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mật khẩu" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <!-- Vai trò Quản trị viên (IsAdmin) -->
                @*<div class="form-group">
                    <label>Bạn có phải là Quản trị viên không?</label>
                    @Html.EditorFor(model => model.IsAdmin, new { htmlAttributes = new { @class = "form-control", @placeholder = "Có/Không" } })
                    @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "text-danger" })
                </div>*@

                <!-- Đồng ý điều khoản -->
                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" checked>
                        <div class="custom-control-label"> Tôi đồng ý với <a href="#">điều khoản và điều kiện</a> </div>
                    </label>
                </div>

                <!-- Nút Đăng ký -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
                </div>
            }
        </article><!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Đã có tài khoản? <a href="~/Home/Login">Đăng nhập</a></p>
    <br><br>

</section>
<!-- ========================= NỘI DUNG PHẦN KẾT THÚC// ========================= -->
