@model VoPhanKhaHy_2122110243.Context.User

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mb-4">Edit User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title">User Information</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">@Html.LabelFor(model => model.FirstName)</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">@Html.LabelFor(model => model.LastName)</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">@Html.LabelFor(model => model.Email)</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">@Html.LabelFor(model => model.Password)</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">@Html.LabelFor(model => model.IsAdmin)</label>
                    <div class="col-md-9">
                        <div class="form-check">
                            @Html.EditorFor(model => model.IsAdmin)
                            @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary ms-2" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
