@model VoPhanKhaHy_2122110243.Context.Category

@{
    ViewBag.Title = "Category Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Category Details</h3>
        </div>
        <div class="card-body">
            <h4 class="text-muted">Category Information</h4>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">Name</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-4">Avatar</dt>
                        <dd class="col-sm-8">
                            <img src="@Url.Content("~/Content/images/category/" + Model.Avartar)" alt="Category Avatar" class="img-fluid rounded" />
                        </dd>

                        <dt class="col-sm-4">Slug</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Slug)</dd>

                        <dt class="col-sm-4">Show on Homepage</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.ShowOnHomePage)</dd>

                        <dt class="col-sm-4">Display Order</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.DisplayOrder)</dd>
                    </dl>
                </div>

                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">Deleted</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Deleted)</dd>

                        <dt class="col-sm-4">Created On</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CreatedOnUtc)</dd>

                        <dt class="col-sm-4">Updated On</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.UpdatedOnUtc)</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary me-2" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
